<script lang="ts">
import Vue from 'vue';
import SlpRow from '~/components/row.vue';
import SlpColumn from '~/components/column.vue';
import SlpHorizontalRule from '~/components/horizontal-rule.vue';

export default Vue.extend({
  name: 'Contacts',
  components: {
    SlpRow,
    SlpColumn,
    SlpHorizontalRule,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>
<template>
  <div class="container">
    <SlpRow
      class="first-row"
      :data-aos="data.aos_animation"
      :data-aos-duration="data.aos_duration"
      :data-aos-offset="data.aos_offset"
    >
      <SlpColumn :cols="8">
        <span
          v-if="data.metadata"
          :id="data.metadata.id_tag || 'ar-contacts'"
          >{{ ' ' }}</span
        >
        <SlpTypography tag="h2" variant="heading2">{{
          data.title
        }}</SlpTypography>
        <div v-html="$md.render(data.description)"></div>
      </SlpColumn>
    </SlpRow>
    <SlpRow class="second-row">
      <SlpColumn
        v-for="contact in data.contacts"
        :key="contact.phone"
        :cols="data.column_size"
        class="slp-card second-row__card"
        :data-aos="contact.aos_animation"
        :data-aos-duration="contact.aos_duration"
        :data-aos-offset="contact.aos_offset"
      >
        <SlpTypography
          tag="h3"
          variant="heading4"
          class="second-row__card--name"
          >{{ contact.name }}</SlpTypography
        >
        <SlpTypography tag="p" variant="body1" class="second-row__card--job">{{
          contact.job
        }}</SlpTypography>
        <a :href="'mailto: ' + contact.email"
          ><SlpTypography
            tag="p"
            variant="body1"
            class="second-row__card--email"
          >
            <span
              ><img
                src="/nuxt-images/icons/mail.svg"
                alt="Mobile Phone Icon" /></span
            >{{ contact.email }}
          </SlpTypography></a
        >
        <SlpTypography tag="p" variant="body1" class="second-row__card--phone">
          <span
            ><img src="/nuxt-images/icons/mobile.svg" alt="Email Icon" /></span
          >{{ contact.phone }}
        </SlpTypography>
      </SlpColumn>
      <SlpHorizontalRule />
    </SlpRow>
  </div>
</template>
<style lang="scss" scoped>
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .first-row {
    margin-bottom: $spacing-64;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .second-row {
    display: flex;
    justify-content: center;

    &__card {
      max-width: 350px;
      height: 167px;
      padding-top: $spacing-16;

      &--name,
      &--job {
        margin-bottom: $spacing-8;
      }

      &--email,
      &--phone {
        span {
          margin-right: $spacing-8;
        }
      }

      &:hover {
        box-shadow: 0px 2px 50px rgba($color-surface-700, 0.25);
      }

      &:first-of-type {
        margin-right: $spacing-16;
        @media (max-width: $breakpoint-md) {
          margin-right: 0;
          margin-bottom: $spacing-16;
        }
      }
      &:last-of-type {
        margin-left: $spacing-16;
        @media (max-width: $breakpoint-md) {
          margin-left: 0;
        }
      }
    }
  }
}
</style>
