<script lang="ts">
import Vue from 'vue';
import NextStep from '~/components/next-step.vue';
import BySolutionHero from '~/components/solutions/by-solution/by-solution-hero.vue';
import SolutionsCallToAction from '~/components/cta.vue';
import SolutionsFeatureList from '~/components/solutions/feature-list.vue';
import FeaturedMedia from '~/components/featured-media.vue';
import SolutionsCarouselVideos from '~/components/solutions/carousel-videos.vue';
import SlpContainer from '~/components/container.vue';
import CopyMedia from '~/components/copy-media.vue';
import Copy from '~/components/copy.vue';
import SlpDisclaimer from '~/components/disclaimer.vue';
import SolutionsResources from '~/components/solutions/resource-list.vue';
import CopyResources from '~/components/copy-resources.vue';
import TabsMenu from '~/components/tabs-menu.vue';
import PullQuote from '~/components/pull-quote.vue';
import Benefits from '~/components/benefits.vue';
import LogoLinks from '~/components/logo-links.vue';
import EventCard from '~/components/event-card.vue';
import MrktoForm from '~/components/form.vue';
import SolutionsHero from '~/components/solutions/hero.vue';

export default Vue.extend({
  name: 'DefaultTemplate',
  components: {
    NextStep,
    BySolutionHero,
    MrktoForm,
    EventCard,
    LogoLinks,
    SlpContainer,
    SolutionsCallToAction,
    SolutionsFeatureList,
    FeaturedMedia,
    CopyMedia,
    Copy,
    SlpDisclaimer,
    SolutionsResources,
    CopyResources,
    TabsMenu,
    PullQuote,
    Benefits,
    SolutionsCarouselVideos,
    SolutionsHero,
  },
  props: {
    solutions: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <SlpContainer v-if="solutions">
    <component
      :is="component.name"
      v-for="component in solutions.components"
      :key="component.name"
      :data="component.data"
    />
    <NextStep />
  </SlpContainer>
</template>
