<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    list: {
      type: Array,
      required: true,
      default() {
        return [];
      },
    },
    color: {
      type: String,
      required: false,
      default: '',
    },
  },
  data() {
    return {
      processedList: [],
      defaultBulletSVG: '/nuxt-images/icons/slp-bullet.svg',
      plusBulletSVG: '/nuxt-images/icons/slp-plus.svg',
      minusBulletSVG: '/nuxt-images/icons/slp-minus.svg',
      arrowBulletSVG: '/nuxt-images/icons/slp-arrow-left.svg',
    };
  },
  mounted() {
    (this.processedList as any) = this.list.map((feature: any) => {
      if (feature.children) {
        return { ...feature, open: false };
      }
      return feature;
    });
  },
  methods: {
    getBulletIcon(item: any): string {
      if (item.arrow_bullet) {
        return this.arrowBulletSVG;
      }
      if (item.children) {
        if (item.open) {
          return this.minusBulletSVG;
        }
        return this.plusBulletSVG;
      }
      return this.defaultBulletSVG;
    },
    toggleOpen(itemIndex: number) {
      const selectedItem = this.processedList[itemIndex] as any;
      selectedItem.open = !selectedItem.open;
    },
    getGaToggleValue(item: any) {
      if (!item.children) {
        return null;
      }
      return item.open ? 'collapse' : 'expand';
    },
  },
});
</script>

<template>
  <ul :class="`color-${color}`">
    <li v-for="(item, itemIndex) in processedList" :key="item.text">
      <div
        class="list-item"
        data-inbound-analytics="pricing-details-element"
        :data-ga-toggle="getGaToggleValue(item)"
        @click="toggleOpen(itemIndex)"
      >
        <div class="icon_container">
          <img :src="getBulletIcon(item)" />
        </div>
        <SlpTypography
          tag="div"
          :class="{
            dashed: item.children,
            pointer: item.children,
            parent: item.children,
          }"
          v-html="item.text"
        ></SlpTypography>
      </div>
      <ul v-if="item.open">
        <li v-for="child in item.children" :key="child.text">
          <div class="list-item child">
            <div class="icon_container">
              <img :src="getBulletIcon(child)" />
            </div>
            <Tooltip :text="child.tooltip" class="no-border">
              <SlpTypography
                tag="div"
                :class="{ dashed: child.tooltip }"
                v-html="child.text"
              ></SlpTypography>
            </Tooltip>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</template>

<style lang="scss" scoped>
.dashed {
  border-bottom: 1px dotted black;
}
.pointer {
  cursor: pointer;
}
.color {
  &-primary {
    .dashed {
      border-bottom: 1px dotted black;

      &:hover {
        &.parent {
          border-bottom: 1px solid $color-primary-200;
        }
      }
    }

    img {
      filter: invert(55%) sepia(91%) saturate(2395%) hue-rotate(337deg)
        brightness(99%) contrast(97%);
    }
  }
  &-secondary {
    .dashed {
      border-bottom: 1px dotted black;

      &:hover {
        &.parent {
          border-bottom: 1px solid $color-secondary-200;
        }
      }
    }

    img {
      filter: invert(48%) sepia(92%) saturate(3122%) hue-rotate(240deg)
        brightness(86%) contrast(102%);
    }
  }
}
.icon_container {
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
li {
  list-style: none;
  margin-bottom: 8px;
}
.list-item {
  display: flex;
  align-items: center;
  text-align: left;
  &.child {
    padding-left: 1rem;
  }
}
</style>
