<script lang="ts">
import Vue from 'vue';
import SlpEventCard from '~/components/ten/event-card.vue';

export default Vue.extend({
  name: 'LetsParty',
  components: {
    SlpEventCard,
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
});
</script>

<template>
  <section class="party">
    <div class="party__header">
      <SlpTypography tag="h2" variant="heading2">{{
        data.header
      }}</SlpTypography>
      <SlpTypography tag="h3" variant="heading4">{{
        data.subtitle
      }}</SlpTypography>
    </div>
    <div
      class="party__description"
      v-html="$md.render(data.description_text)"
    ></div>
    <div class="party__events">
      <SlpEventCard
        v-for="(event, index) in data.events"
        :key="`${event.heading}events${index}`"
        :heading="event.heading"
        :icon="event.icon"
        :date="event.date"
        :event-type="event.event_type"
        :cta="event.cta"
        :destination-url="event.destination_url"
      />
    </div>
  </section>
</template>

<style lang="scss" scoped>
.party {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 15px;
  grid-gap: 15px;
  margin: 0 auto;
  margin-bottom: 64px;
  max-width: 100%;
  position: relative;
  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 80px;
    max-width: 1140px;
  }
}

.party__header {
  grid-column: 1 / span 4;
  margin-bottom: 16px;
  @media (min-width: $breakpoint-lg) {
    margin-bottom: 46px;
  }
}

.party__description {
  grid-column: 1 / -1;
  padding-top: 0;
  margin-bottom: 32px;
  @media (min-width: $breakpoint-lg) {
    grid-column: 6 / 11;
    padding-top: 70px;
    margin-bottom: 0;
  }
}

.party__description::v-deep p a {
  color: #7d2bd9;
}

.party__events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-column: 1 / 11;
}

h2 {
  margin-bottom: 16px;
}
</style>
