<script lang="ts">
import Vue from 'vue';
import SlpColumn from '~/components/column.vue';
import SlpRow from '~/components/row.vue';

export default Vue.extend({
  name: 'EnterpriseShipFeaturesFaster',
  components: {
    SlpColumn,
    SlpRow,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section class="faster">
    <SlpRow>
      <SlpColumn class="slp-flex slp-flex-column slp-align-items-center">
        <SlpTypography tag="h2" variant="heading2" class="slp-mb-4">{{
          data.title
        }}</SlpTypography>
        <SlpTypography
          tag="h4"
          variant="heading4"
          class="faster__subtitle slp-mb-16"
          >{{ data.subtitle }}</SlpTypography
        >
        <img
          class="faster__image slp-mb-32"
          :src="data.image.image_url"
          :alt="data.image.alt"
        />
      </SlpColumn>
    </SlpRow>
    <SlpRow>
      <SlpColumn
        v-for="content in data.content"
        :key="content.alt"
        class="faster__content"
      >
        <img :src="content.icon" />
        <SlpTypography
          tag="h4"
          variant="heading4"
          class="slp-mb-8 slp-text-lg"
          >{{ content.title }}</SlpTypography
        >
        <SlpTypography tag="p" variant="body1" class="slp-text-base">{{
          content.description
        }}</SlpTypography>
      </SlpColumn>
    </SlpRow>
  </section>
</template>

<style lang="scss" scoped>
.faster {
  margin-top: 128px;

  @media (max-width: $breakpoint-md) {
    margin-top: $spacing-48;

    h2 {
      font-size: 24px;
      line-height: 30px;
    }

    &__subtitle,
    &__content h3 {
      font-size: 19px;
      line-height: 24px;
    }
  }
}

.faster__image {
  max-width: 100%;
  width: 512px;
}

.faster__content {
  text-align: center;
  margin-top: $spacing-16;
}

.faster__subtitle {
  text-align: center;
}
</style>
