<script lang="ts">
import Vue from 'vue';
import { init } from 'aos';

export default Vue.extend({
  name: 'WhyPrimaryCTA',
  props: {
    data: {
      required: true,
      type: Object,
    },
  },
  beforeMount() {
    init({
      once: true,
    });
  },
});
</script>

<template>
  <section class="breakdown">
    <SlpContainer>
      <SlpRow
        class="header"
        :data-aos="data.aos_animation"
        :data-aos-duration="data.aos_duration"
      >
        <SlpColumn :cols="6">
          <SlpTypography tag="h2" variant="heading1-bold">
            {{ data.title }}
          </SlpTypography>
        </SlpColumn>
        <SlpColumn :cols="6">
          <div class="image-container">
            <img src="/nuxt-images/why/aqua-piece.svg" alt="" />
          </div>
        </SlpColumn>
      </SlpRow>
      <SlpRow
        class="scattered"
        :data-aos="data.aos_animation"
        :data-aos-duration="data.aos_duration"
      >
        <SlpColumn :cols="6"> &nbsp; </SlpColumn>
        <SlpColumn :cols="6">
          <SlpTypography tag="h3" variant="heading2-bold">
            {{ data.blocks[0].title }}
          </SlpTypography>
        </SlpColumn>
      </SlpRow>
      <SlpRow
        class="coming-together"
        :data-aos="data.aos_animation"
        :data-aos-duration="data.aos_duration"
      >
        <SlpColumn :cols="6"> &nbsp; </SlpColumn>
        <SlpColumn :cols="6">
          <SlpTypography tag="h3" variant="heading2-bold">
            {{ data.blocks[1].title }}
          </SlpTypography>
        </SlpColumn>
        <div class="image-container">
          <img src="/nuxt-images/why/pieces-coming-together.svg" alt="" />
        </div>
      </SlpRow>
      <SlpRow
        class="colored-complete-cycle"
        :data-aos="data.aos_animation"
        :data-aos-duration="data.aos_duration"
      >
        <SlpColumn :cols="6"> &nbsp; </SlpColumn>
        <SlpColumn :cols="6">
          <SlpTypography tag="h3" variant="heading2-bold">
            {{ data.blocks[2].title }}
          </SlpTypography>
        </SlpColumn>
        <div class="image-container">
          <img src="/nuxt-images/why/colored-full-loop.svg" alt="" />
        </div>
      </SlpRow>
      <SlpRow
        class="orange-complete-cycle"
        :data-aos="data.aos_animation"
        :data-aos-duration="data.aos_duration"
      >
        <SlpColumn :cols="6"> &nbsp; </SlpColumn>
        <SlpColumn :cols="6">
          <SlpTypography tag="h3" variant="heading2-bold">
            {{ data.blocks[3].title }}
          </SlpTypography>
        </SlpColumn>
        <div class="image-container">
          <img src="/nuxt-images/why/orange-full-loop.svg" alt="" />
        </div>
      </SlpRow>
      <SlpRow
        class="infinity-tanuki"
        :data-aos="data.aos_animation"
        :data-aos-duration="data.aos_duration"
      >
        <SlpColumn :cols="12">
          <div class="image-wrapper">
            <img
              src="/nuxt-images/why/infinity-tanuki.gif"
              alt="GitLab tanuki logo encompassed by an infinity sign. Underneath is the tag 'The One DevOps Platform'"
            />
          </div>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.breakdown {
  background: $color-primary-200;
  color: $color-surface-50;
  padding: 206px 0 206px 0;
  overflow: hidden;

  h2 {
    max-width: 600px;
    display: block;
    margin-bottom: $spacing-16;
  }

  h3 {
    max-width: 550px;
    display: block;
  }

  .image-container {
    position: relative;
    width: 100%;
  }

  img {
    width: 100%;
  }
}

.header .image-container {
  z-index: -1;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100px;
}

.scattered {
  position: relative;
  background: url(/nuxt-images/why/scattered-pieces.svg);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  min-height: 700px;

  .slp-col-md-6:last-of-type {
    display: flex;
    align-items: center;
  }
}

.coming-together {
  padding-top: $spacing-64;
  padding-bottom: $spacing-48;
}

.colored-complete-cycle {
  padding-bottom: 180px;
  h3 {
    margin-bottom: $spacing-96;
  }

  .image-container {
    margin-top: $spacing-24;
  }
}

.orange-complete-cycle {
  padding-top: $spacing-64;
  padding-bottom: 234px;

  h3 {
    margin-bottom: 83px;
  }
}

.infinity-tanuki .slp-col-md-12 {
  margin: 0 auto;
}

@media (max-width: 574px) {
  .breakdown {
    padding-top: $spacing-64;

    .scattered {
      min-height: 500px;
    }

    .coming-together {
      padding-top: $spacing-24;
    }

    .colored-complete-cycle {
      padding-top: $spacing-48;
      padding-bottom: $spacing-48;
      h3 {
        margin-bottom: $spacing-16;
      }
    }

    .orange-complete-cycle {
      padding-bottom: $spacing-64;
      h3 {
        margin-bottom: $spacing-16;
      }
    }
  }
}
</style>
