<script lang="ts">
import { MetaInfo } from 'vue-meta/types/vue-meta';
import Vue from 'vue';
import { init } from 'aos';
import SlpContainer from '~/components/container.vue';
import CallToAction from '~/components/cta.vue';
import Faq from '~/components/faq.vue';
import { getPageMetadata } from '~/common/meta';
import FreeTrialPlans from '~/components/free-trial/free-trial-plans.vue';

export default Vue.extend({
  name: 'FreeTrial',
  components: {
    FreeTrialPlans,
    Faq,
    SlpContainer,
    CallToAction,
  },
  async asyncData({ $content }) {
    const doc = await $content('free-trial').fetch();
    return { doc };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).doc);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
});
</script>

<template>
  <SlpContainer>
    <component
      :is="component.name"
      v-for="component in doc.components"
      :key="component.name"
      :data="component.data"
    >
    </component>
  </SlpContainer>
</template>
