<script>
import ChevronLg from '~/static/nuxt-images/ico/chevron-lg.vue';

export default {
  components: {
    ChevronLg,
  },
  props: {
    data: {
      required: true,
      type: Object,
    },
    isOpen: {
      required: true,
      type: Boolean,
    },
  },
  computed: {
    control() {
      if (this.isOpen === false) {
        return '<svg width="24" height="33" viewBox="0 0 24 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.75 8.85596C12.75 8.44174 12.4142 8.10596 12 8.10596C11.5858 8.10596 11.25 8.44174 11.25 8.85596V15.981H4.125C3.71079 15.981 3.375 16.3167 3.375 16.731C3.375 17.1452 3.71079 17.481 4.125 17.481H11.25V24.606C11.25 25.0202 11.5858 25.356 12 25.356C12.4142 25.356 12.75 25.0202 12.75 24.606V17.481H19.875C20.2892 17.481 20.625 17.1452 20.625 16.731C20.625 16.3167 20.2892 15.981 19.875 15.981H12.75V8.85596Z" fill="#171321"/></svg>';
      }
      return '<svg width="24" height="33" viewBox="0 0 24 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.375 16.731C3.375 16.3167 3.71079 15.981 4.125 15.981L19.875 15.981C20.2892 15.981 20.625 16.3167 20.625 16.731C20.625 17.1452 20.2892 17.481 19.875 17.481L4.125 17.481C3.71079 17.481 3.375 17.1452 3.375 16.731Z" fill="#171321"/></svg>';
    },
  },
  methods: {
    toggleAccordion() {
      this.$emit('toggleController');
    },
  },
};
</script>

<template>
  <div
    class="accordion"
    data-inbound-analytics="public-sector-leap-target"
    :data-toggle-group="data.header"
    :data-ga-toggle="isOpen ? 'expand' : 'collapse'"
  >
    <div class="summary" @click="toggleAccordion">
      <SlpTypography tag="h4" variant="heading5">
        <img v-if="data.icon" :src="data.icon" alt="" aria-hidden="true" />
        {{ data.header }}
      </SlpTypography>
      <span v-html="control"></span>
    </div>
    <div v-show="isOpen" class="content-container">
      <div class="content" v-html="$md.render(data.text)"></div>
      <SlpButton
        v-if="data.link_url"
        :href="data.link_url"
        variant="ghost"
        :data-ga-name="data.ga_name || 'learn more'"
        :data-ga-location="data.ga_location || 'benefits'"
        >{{ data.link_text || 'Learn more' }}
        <ChevronLg fill="#000" direction="right"
      /></SlpButton>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.accordion {
  color: $color-text-300;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  text-align: left;

  &:first-of-type {
    border-radius: 3px 3px 0 0;
    border-top-width: 1px;
  }

  .summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $spacing-16;
    padding-bottom: 20px;
    border-top: 1px solid $color-surface-300;
  }

  h4 {
    display: flex;
    align-items: center;
    font-weight: $font-weight-bold;
    margin-top: $spacing-4;

    img {
      margin-right: $spacing-16;
    }
  }

  span {
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
  }

  .content-container {
    text-align: left;
    padding: 0 0 $spacing-32 0;
    font-size: $text-body-1;
    line-height: $line-height-default;

    a {
      display: flex;
      align-items: center;
      font-weight: $font-weight-bold;
      color: $color-text-300;

      svg {
        margin-left: 4px;
      }
    }
  }

  .content ::v-deep {
    p,
    li,
    a {
      font-size: $font-size-default;
      line-height: $line-height-default;
      margin-bottom: $spacing-16;
    }
  }
}
</style>
